modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44411
externalPort = 3001

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DitonaChat Frontend"

[[workflows.workflow]]
name = "DitonaChat Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[nix]
packages = ["jq", "dos2unix", "imagemagick_light"]
channel = "stable-25_05"
